<nav class="navbar navbar-default alert-info navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" asp-action="Index" asp-controller="Admin" asp-route-id="@null">
                @localizer["Administrator"]
            </a>

        </div>

        <partial name="_Culture" />

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Home" asp-action="Index" target="_blank">@localizer["HomeButton"]</a></li>
            </ul>

        </div>
    </div>
</nav>