
<!DOCTYPE html>
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>SUPER BOOKS</b>
    </div>
    <div>
        <pre>
                Hi Sir/Madam
                    We just need to verify your Email address for renew password!
                    click <a href="@ViewBag.ConfirmationLink">Here</a>
            </pre>
    </div>
</body>
</html>
